.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
diagram.lnk
moranajp.lnk
inst/doc
normal_surface_summary
normal_surface_summary.zip
amedas_station_index
amedas_station_index.zip
normal_surface.zip
normal_surface
